* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   overflow: hidden;
   display: flex;
   height: 100vh;
   background: light-dark(#16161d, #efefec);
}

.game {
   box-shadow: 0 0 3px light-dark(#efefec, #16161d);
   border-radius: 6px;
   margin: auto;
   width: 500px;
   aspect-ratio: 1;
   display: grid;
   place-content: center;
}

.game__canvas {
   grid-area: 1 / 1 / -1 / -1;

   :not(.game--running) > & {
      display: none;
   }
}

.game__play-button {
   grid-area: 1 / 1 / -1 / -1;
   width: 100px;
   aspect-ratio: 1;
   border-radius: 50%;
   border: 0;
   background-image: radial-gradient(white, gold);
   box-shadow: inset 0 0 0 black, 0 0 11px 1px black;
   transition: box-shadow .2s;
   cursor: pointer;

   .game--running > & {
      display: none;
   }

   &:active {
      box-shadow: inset 0 0 2px 2px black, 0 0 0 black;
   }
}
